@import '~bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css?family=Boogaloo|Jua');

body {
  font-family: 'Jua', sans-serif;
  background-color: #fafafa;
}

input, select, textarea, button {
  font-family: inherit;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: center;
  grid-gap: 1rem;
}

figure.is-centered {
  margin: 0 auto;
}

.product {
  border-radius: 5px
}

.product .button {
  border-radius: 0 0 5px 5px;
  width: 100%;
}

.product .table {
  margin-top: 1.5rem
}

.product .card-content {
  margin-bottom: 1.5rem
}

.product .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}